@font-face {
  font-family: CalliCat;
  src: url("./fonts/calli-cat/Calli Cat.ttf") format('truetype');
}

@font-face {
  font-family: Kablammo;
  src: url("./fonts/Kablammo/Kablammo-Regular-VariableFont_MORF.ttf") format("truetype");
}

h1 {
  font-family: Kablammo;
  color: #eedd7e;
  position: relative;
  bottom: 25%;
  font-size: 9vmin;
}

td {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
  color: rgb(85, 10, 104);
  text-decoration: underline;
}

td:first-of-type {
  font-weight: bold;
  font-family: CalliCat;
}

h3 {
  font-size: 5vmin;
  font-family: Kablammo;
  padding: 10px;
  margin: 1%;
}

td {
  min-width: 5vw;
  padding: 10px;
  vertical-align: top;
}

th {
  text-align: left;
  font-size: 3vmin;
  padding: 10px;
}


html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  font-family: CalliCat;
  font-weight: normal;
  font-size: 2.3vmin;
  color: rgb(240, 18, 103);
  user-select: none;
}

scene {
  width: 1920px;
  height: 1080px;
  display: inline-block;
  position: absolute;
}

#Background {
  width: 80%;
}

#FudgeStoryLogo {
  width: 40%;
}

div {
  width: 80%;
  height: 100%;
  background-color: rgb(27, 27, 27);
  display: inline-block;
}

canvas {
  width: 100%;
  height: 100%;
}

/***** SPEECH, CONTENT, NAMES *****/
speech {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgba(79, 62, 164, 0.36);
  width: 100%;
  height: 13%;
}

speech content {
  color: rgb(255, 255, 255);
  font-size: 2vmin;
  position: relative;
  left: 30px;
}

speech.pinkCat {
  text-align: right;

}

speech.pinkCat name {
  margin-right: 2%;
  color: #fa9cec;
  /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
}

speech.pinkCat content {
  text-align: right;
  right: 30px;
  position: relative;
  margin-right: 70px;

}

input {
  width: 20%;
  height: 20%;
  margin-left: 2%;
  color: rgb(35, 18, 49);
  font-size: 2vmin;
  border-radius: 25px;
  border-color: rgb(255, 165, 251);
  outline: none;
}

name {
  font-size: 3vmin;
  display: block;
  color: rgb(168, 196, 255);
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 27px;
  /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
}

dialog.choicesCSSClass {
  background-color: rgba(255, 255, 255, 0.24);
  border: 0ch;
  border-radius: 40px;
}

.choicesCSSClass button {
  background-color: rgb(100, 122, 180);
  color: white;
  border: 0ch;
  border-radius: 25px;
  margin: 10px;
  padding: 20px;
  font-family: CalliCat;
  font-size: 3vmin;
  top: 50%;
  left: 50%;
}

.choicesCSSClass button:hover {
  background-color: rgb(180, 100, 176);
}


/*MENU*/
.gameMenuCSS {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border: 0ch;
  border-radius: 20px;
  right: 75%;
  top: 2%;
  padding: 4px;
  float: left;
}

.gameMenuCSS button {
  font-size: 15px;
  border-radius: 15px;
  border-style: none;
  background-color: rgb(100, 122, 180);
  margin: 6px;
  padding: 7px;
}

.gameMenuCSS button:hover {
  margin: 6px;
  border-radius: 15px;
  background-color: rgb(180, 100, 176);
}

dialog[type="text"] {
  background-color: #dcd3a5;
  color: #452141;
  border-color: aliceblue;
  border-radius: 10px;
  border-width: 5px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

dialog[type=splash] {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  text-align: center;
}

/***** INVENTORY *****/
dialog[type="inventory"] {
  color: rgb(143, 159, 201);
  border-radius: 15px;
  width: 50%;
  border: 2px solid;
  background-color: rgb(51, 51, 51);
  font-family: 'KoHo', sans-serif;
}

dialog[type="inventory"]>ul {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
}

dialog[type="inventory"]>ul>li {
  width: 12vw;
  height: 10vw;
  /*border: solid rgb(143, 159, 201);*/
  border-radius: 10px;
  /*list-style-type: none;*/
  margin-bottom: 10px;
  font-size: 15px;
}

dialog[type="inventory"]>ul>li.name {
  color: rgb(143, 159, 201);
  font-size: 50px;
}

dialog[type="inventory"]>button {
  border-radius: 15px;
  border-style: none;
  background-color: rgb(143, 159, 201);
  margin: 3px;
  padding: 3px;
}

dialog[type="inventory"]>button:hover {
  background-color: rgb(180, 100, 176);
}



/***** METER BAR *****/
meter::-webkit-meter-bar {
  background-color: #e5cfda32;
  border-radius: 50px;
}

meter[id="catMeter"] {
  position: absolute;
  bottom: 89%;
  left: 63%;
  width: 35%;
  height: 10%;
}

meter[id="catMeter"]::-webkit-meter-optimum-value {
  background-image: linear-gradient(90deg,
      #ce3a30 0%,
      #ea9847 15%,
      #e6d450 25%,
      #87e650 35%,
      #68f2eb 60%,
      #689ff2 70%,
      #ac72ce 80%,
      #d251c1 100%,
    );
  background-color: rgb(238, 149, 233);
  border-radius: 50px;
  /* background: none; */
}

input[id="scoreForCat"] {
  color: rgb(255, 255, 255);
  background-color: #e5cfda00;
  font-size: 25pt;
  position: absolute;
  bottom: 93%;
  width: 3%;
  height: 2%;
  left: 63%;
  margin-left: 1%;
  border: 0ch;
}

/* dialog.TextPrint{
  background-color: #dcd3a5;
  color: #452141;
  border-color: aliceblue;
  border-radius: 10px;
  border-width: 5px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
} */

dialog.credits {
  color: rgb(12, 64, 64);
  background-color: rgb(231, 179, 238);
}

/* navigation buttons for credits */
.creditsNav {
  position: absolute;
  bottom:65%;
  background: none;
  border: none;
}

.creditsNav button {
  background-color: rgb(100, 122, 180);
  color: white;
  border: 0ch;
  border-radius: 25px;
  margin: 10px;
  padding: 20px;
  font-family: CalliCat;
  font-size: 3vmin;
  top: 50%;
  left: 50%;
}
.creditsNav button:hover {
  background-color: rgb(180, 100, 176);
}

